*{ 
  box-sizing:border-box;
  font-family:"Dosis", sans-serif; 
  flex-direction:column;
}

ul{
  margin:0;
  padding:0;
}

.DropDown > a:after{
  font-family:'Genericons';
  content: '\f431';
  padding:1px;
}

.DropDown {
  display: none;
  .Account {
    display: block;
  }
}
